<!doctype html>
<html>
<head>
    <title>JNode</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><%=title %></h1>

        <p>配置成功！</p>


    </div>


</div>
</body>
</html>
